header{
    background-color: #FFFFFF;
    color: white 
}
.cabecalho-imagem{
   width: 20%;
   display: inline-block; margin: 0 700px; font-size: 32px ;
}
.cabecalho-icone{
    width:2%;
    display: inline-block; margin: 0 1800px;font-size: 32px;
    
    
}
.cabecalho-iconedois{
    width:2%;
    display:inline-block;margin: 0 1700px;font-size: 32px;

}